#blue{
    background-color:  color: blue;

}
    #pcent{
        text-align: center;
    }

div {
 background-color: blue;



}

#opacity{
    
    opacity: 80%;
}

#main{
      border-style: inset;
    border-width: 10px;
  border-color: gold;
}
body {
  background-image: url("../assets/blue.jpg");
  background-repeat: repeat-x;



}

h1 {
  color: aqua;
  text-align: center;
}

p {
  color: cyan;
  font-family: normal;
  font-size: 20px;
}
h2 {
  color: skyblue;
  text-align: left;
     }
h3 {
  color: skyblue;
  text-align: left;
     }

li{
    color:skyblue;
}